body{
	font-family: 'Poppins';
	font:Poppins;
	background: #FFFFFF;
}
 
h1{
	text-align: center;
	font-weight: 300;
}
 
.tulisan_forget{
	text-align: center;
	margin-bottom:40px ; 
	font-size: 22pt;
	font-weight: bold;
	color: #45bffa;
}
 
.kotak_forget{
	width: 375px;
	display: block;
	margin: auto;
	margin-top: 100px;
	padding: 30px 20px;
}

.pencetTombol{
	width: 350px;
	display: block;
	margin: auto;
	text-align: center;
}
 
label{
	font-size: 11pt;
}
 
::placeholder{
	color:#75d0f4;
	opacity: .7;
}

#form_nim{
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
	border-radius: 30px;
	border: 2px solid #4bc1ec;
	opacity: .5;
}

#tombol_forget{
	background: #43c2f9;
	color: white;
	font-size: 11pt;
	/*margin-right: 5%;*/
	/*text-align: center;*/
	width: 40%;
	border: none;
	border-radius: 30px;
	padding: 10px 20px;
}

.nimBaru{
	margin-left: 5%;
	color: #75d0f4;
	font-weight: bold;

}
.kataBawah{
	color: #232323;
	text-decoration: none;
	font-size: 8pt;
}