@font-face {
    font-family: 'Poppins-Light';
    src: url(../../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../../fonts/Poppins-SemiBold.ttf');
}

body {
    font-family: 'Poppins-Regular';
}

.main {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    letter-spacing: 1px;
    color: #4B4B4B;
    margin-top: auto;
}

.welcome,
.welcome {
    margin: 2px auto;
}

.name {
    font-family: 'Poppins-SemiBold';
    font-size: 4.5em;
    text-transform: uppercase;
}

.classBar3 {

    display: flex;
    flex-flow: row wrap;
    padding: 17px 0 17px 0;
    background: rgba(1, 187, 255, 0.459);
    color: white;
    border-radius: 20px;
    width: 75%;
    margin: 20px auto 0 auto;
    align-items: center;
    justify-content: space-around;


}

.classBar2 {

    display: flex;
    flex-flow: row wrap;
    padding: 17px 0 17px 0;
    background: rgba(255, 68, 0, 0.336);
    color: white;
    border-radius: 20px;
    width: 75%;
    margin: 20px auto 0 auto;
    align-items: center;
    justify-content: space-around;


}


.classBar {

    display: flex;
    flex-flow: row wrap;
    padding: 17px 0 17px 0;
    background: rgb(1, 187, 255);
    color: white;
    border-radius: 20px;
    width: 75%;
    margin: 20px auto 0 auto;
    align-items: center;
    justify-content: space-around;


}


.upcomingClass {
    display: flex;
    flex-flow: row wrap;
    padding: 17px 0 17px 0;
    background: #fff;
    color: rgba(1, 187, 255, 0.37);
    border: 1px solid #01BDFF;
    border-radius: 20px;
    width: 75%;
    margin: 20px auto 0 auto;
    align-items: center;
    justify-content: space-around;
}

.barItem {
    margin: 0;
    flex: 0 1 20%;
    text-align: center;
    font-family: 'Poppins-Light';
}

#nextClass {
    font-family: 'Poppins-SemiBold';
    font-size: 25px;
    font-weight: 900;

}

#upcomingClass {
    font-family: 'Poppins-SemiBold';
    font-size: 25px;
    font-weight: 900;
    flex: 0 1 30%;
}

#nextClass1 {
    font-family: 'Poppins-SemiBold';
    font-size: 25px;
    font-weight: 900;
    flex: 0 1 30%;
}

#material {

    font-family: 'Poppins-SemiBold';

}

#material2 {

    font-family: 'Poppins-SemiBold';

}

#absent2 {
    font-family: 'Poppins-SemiBold';
}

#material1 {
    color: #01BDFF;
    font-family: 'Poppins-SemiBold';

}

#jadwal {

    color: rgba(1, 187, 255, 0.61);
}

#jadwal1 {

    color: white;
}

#absent {

    font-family: 'Poppins-SemiBold';
    color: white;
}

.btn {
    border: 1px solid #fff;
    background: #01BDFF;
    padding: 20px 0 20px 0;
    font-size: 15px;
    color: white;
    padding: 10px 20px;
    font-family: 'Poppins-SemiBold';
    margin: 10px;
    border-radius: 50px;

}

.btn0 {
    border: 1px solid #fff;
    background: rgba(1, 187, 255, 0.082);
    padding: 20px 0 20px 0;
    font-size: 15px;
    color: white;
    padding: 10px 20px;
    font-family: 'Poppins-SemiBold';
    margin: 10px;
    border-radius: 50px;

}

.btn1 {
    border: 1px solid #01BDFF;
    background: #fff;
    padding: 20px 0 20px 0;
    font-size: 15px;
    color: #01BDFF;
    padding: 10px 20px;
    font-family: 'Poppins-SemiBold';
    margin: 10px;
    border-radius: 50px;

}

.textLoadMore {
    text-align: center;
    box-sizing: inherit;
    color: rgba(1, 187, 255, 0.507);
    text-decoration: underline;
    padding: 25px 25px;

}

.textAttendance {
    text-align: center;
    box-sizing: inherit;
    font-family: 'Poppins-SemiBold';
    color: rgb(1, 187, 255);


    padding: 25px 25px;
}

.number {
    text-align: center;
    box-sizing: inherit;
    font-family: 'Poppins-SemiBold';
    color: rgba(0, 0, 0, 0.582);


    padding: 25px 25px;
}

.textNumber {
    text-align: center;
    box-sizing: inherit;
    font-family: 'Poppins-SemiBold';
    color: rgba(0, 0, 0, 0.363);

}



@media only screen and (max-width: 768px) {
    #upcomingClass {
        flex: 1 100%;
        margin-bottom: 10px;
        text-align: left;
        margin-left: 20px;
    }

    #nextClass1 {
        flex: 1 100%;
        margin-bottom: 10px;
        text-align: left;
        margin-left: 20px;
    }

}

@media only screen and (max-width: 557px) {
    .barItem {
        flex: 1 100%;
        margin: 10px 0;
    }

    #upcomingClass {
        text-align: center;
    }

    #nextClass1 {
        text-align: center;
    }

    #jadwal {
        text-align: left;
        margin-left: 40px;
    }

    #jadwal1 {
        text-align: left;
        margin-left: 40px;
    }

    #absent {
        text-align: left;
        margin-left: 40px;
    }

    #material {
        text-align: left;
        margin-left: 40px;
    }

    #material1 {
        text-align: left;
        margin-left: 40px;
    }

    #material2 {
        text-align: left;
        margin-left: 40px;
    }

    #absent2 {
        text-align: left;
        margin-left: 40px;
    }

    #jadwal2 {
        text-align: left;
        margin-left: 40px;
    }
}