@font-face {
  font-family: Poppins-Light;
  src: url("../fonts/Poppins-Light.ttf");
}

body {
  font-family: Poppins-Light;
}

/* TOP-PAGE */
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0px 1em 0px;
}

.next-class {
  background-color: #43c2fa;
  height: 100px;
  border: solid;
  border-radius: 30px;
  font-weight: 200;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.next-class.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.next-class-header {
  flex: 1;
  width: 100%;
  margin-left: 5%;
}

.next-class-body {
  display: flex;
  justify-content: space-around;
  flex: 3;
  width: 100%;
}

.sub-title {
  font-weight: 600;
  margin: 0px;
}

.text {
  margin: 0px;
  font-weight: 300;
}

.detail-class {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  animation-duration: 10s;
}

.detail-class .title {
  color: #43c2fa;
  font-weight: 600;
}

/* BODY-PAGE */
.body-page {
  display: flex;
  justify-content: space-between;
  margin: 2em 0em 0em 0em;
}

.my-class {
  margin-top: -20%;
}

.detail-class .text {
  margin: 5px 0px 0px 0px;
}

.detail-class h3 {
  font-size: 18.5pt;
}

.attend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attend h1 {
  font-weight: 600;
}

.attendance h3 {
  letter-spacing: 1.4px;
}

.space {
  flex: 0.2;
}

/* CAROUSEL */
.carousel {
  flex: 3;
}

.carousel-item img {
  width: 100%;
}

.carousel-indicators {
  position: static !important;
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
  background-color: white !important;
  border: 1px solid !important;
  border-color: #43c2fa !important;
}

.carousel-indicators .active {
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
  background-color: #43c2fa !important;
}

@media only screen and (max-width: 1199px) {
  .attendance .title {
    margin-top: 10%;
  }

  .my-class {
    margin-top: -15%;
  }

  .title h3 {
    font-size: 20px;
  }

  .my-class h5 {
    font-size: 17px;
  }
}

@media only screen and (max-width: 991px) {
  .next-class h2 {
    font-size: 25px;
  }

  .next-class h5 {
    font-size: 20px;
  }

  .next-class .sub-title,
  .next-class .text {
    margin: 0 5% 0 5%;
  }

  .next-class.container {
    flex-direction: column;
    justify-content: center;
  }

  .next-class-header {
    margin-left: 0;
    margin-top: 2.5%;
  }

  .next-class-body .sub-title {
    margin-left: 3%;
  }

  .title h3 {
    font-size: 18px;
    margin-top: -5%;
  }

  .my-class h5 {
    font-size: 14px;
  }

  .attendance .title {
    margin-top: 5%;
  }

  .attend h6 {
    font-size: 80%;
  }

  .attend h1 {
    font-size: 120%;
  }

  .carousel-indicators li,
  .carousel-indicators .active {
    width: 7px !important;
    height: 7px !important;
  }

  .space {
    height: 0px;
  }

  .my-class,
  .attendance {
    width: 120%;
  }
}

@media only screen and (max-width: 767px) {
  /*navar stop code*/
  .next-class .sub-title,
  .next-class .text {
    margin: 0 2% 0 5%;
  }

  .next-class h2,
  .next-class h5 {
    font-size: 110%;
  }

  .next-class-header {
    margin-top: 5%;
  }

  .next-class-body {
    margin-left: -3%;
  }

  .attend h6 {
    font-size: 11px;
  }

  .attend h1 {
    font-size: 18px;
  }

  .attendance {
    margin-top: -5%;
  }

  .body-page {
    margin-top: 3%;
  }

  .title h3 {
    font-size: 12px;
    margin-top: 0%;
  }

  .my-class h5 {
    font-size: 10px;
  }
}

@media only screen and (max-width: 620px) {
  .top-page h2 {
    text-align: center;
  }

  .welcome h2 {
    margin: 0 8% 0 8%;
  }

  .next-class.container {
    width: 87%;
    justify-content: center;
  }

  .next-class {
    height: 230px;
  }

  .next-class-body {
    flex-direction: column;
    width: 80%;
    margin-bottom: 10%;
  }

  .next-class-header {
    width: 80%;
    margin-left: 0;
    margin-top: 10%;
  }

  .next-class-header h2 {
    text-align: left;
  }

  .next-class h5,
  .my-class h5 {
    font-size: 20px;
  }

  .next-class h2,
  .title h3 {
    font-size: 33px;
  }

  .body-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .my-class {
    margin-top: 20%;
  }

  .attendance {
    margin-top: 20%;
    margin-bottom: 30%;
    width: 100%;
  }

  h5,
  .attend h6 {
    font-size: 20px;
    padding: 2%;
  }

  .attend h1 {
    font-size: 40px;
  }

  .carousel-indicators li,
  .carousel-indicators .active {
    width: 5px !important;
    height: 5px !important;
  }
}
