@font-face {
  font-family: "Poppins-Regular";
  src: url("../../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../../fonts/Poppins-Medium.ttf");
}

body {
  font-family: "Poppins-Regular";
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.title {
  text-align: center;
  margin: 30px;
}

.memberName {
  font-family: "Poppins-Medium";
  font-size: 2.5em;
  color: #4b4b4b;
}

.closeBtn {
  float: right;
  border: solid 1px #43c2fa;
  outline: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 100;
  border-radius: 100%;
}

.btnWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
}

.btnEdit {
  padding: 0px 15px 0px 15px;
  margin-bottom: 10px;
  background-color: #43c2fa;
  border-radius: 40px;
  text-decoration: none;
  border: none;
  color: white;
}

.editProfile {
  display: flex;
  padding: 3.5em 3em;
  border: 2px solid #d7f2fd;
  border-radius: 30px;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f7fcff;
}

.editItem {
  font-family: "Poppins-Light";
  color: #43c2fa;
}

#MemberId {
  margin-bottom: 0px;
}

.itemBold {
  font-family: "Poppins-Medium";
  font-weight: bold;
  justify-items: flex-end;
}

#itemBold3 {
  font-family: "Poppins-Medium";
  font-weight: bold;
  justify-items: flex-end;
  margin-top: 16px;
}

.editEmailWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 14px;
  display: none;
}

#emailPrevious {
  color: #43c2fa;
  font-size: 0.5em;
  margin-bottom: 0;
}

#emailInput {
  border-color: #43c2fa;
  border-style: solid;
  font-size: 0.75em;
  outline: none;
  border-radius: 30px;
}

.editProfileSectWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editProfileSect2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#changeBtn {
  font-family: "Poppins-Light";
  font-size: 0.8em;
  border: none;
  background-color: transparent;
  text-decoration-line: underline;
  color: #43c2fa;
}

.btnSaveProfile {
  font-family: "Poppins-SemiBold";
  font-weight: bold;
  font-size: 1.2em;
  display: none;
  margin: 10px auto 0 auto;
  padding: 5px 25px 5px 25px;
  border-radius: 20px;
  border: none;
  background-color: #43c2fa;
  color: white;
  width: 100px;
}

.modal-content {
  border-radius: 30px;
  padding: 15px;
  max-width: 100%;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px 0px 15px;
  margin-top: 10px;
}

#modalTitle {
  font-weight: bold;
  text-align: center;
  font-size: 1.6em;
  color: #43c2fa;
}

.modalContentSect1 {
  font: "Poppins-light";
  color: #43c2fa;
}

.modalContentSect2 {
  display: flex;
  flex-direction: column;
  justify-items: auto;
}

#modalItem {
  border-radius: 30px;
  margin-bottom: 16px;
  border-style: solid;
  padding-left: 5px;
  border-color: #43c2fa;
}

.btnSaveWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 10px;
}

.btnSaveModal {
  font-family: "Poppins-SemiBold";
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px 25px 5px 25px;
  border-radius: 20px;
  border: none;
  background-color: #43c2fa;
  color: white;
  margin-bottom: 5px;
}

@media only screen and (max-width: 460px) {
  .memberName {
    font-size: 1.6em;
  }

  .container {
    margin-top: 0;
  }

  .editProfile {
    padding: 20px;
  }

  .modal-body {
    font-size: 0.7em;
  }

  #modalTitle {
    font-size: 1.4em;
  }

  .modal-content {
    padding: 20px;
  }

  .btnSaveModal {
    font-size: 1.3em;
    padding: 5px 20px 5px 20px;
  }
}

@media screen and (max-width: 423px) {
  .editProfileSect2 {
    font-size: 0.75em;
  }
  #major {
    text-align: right;
  }
}
