.slide {
  font-size: 20pt;
  font-weight: 600;
  margin: 0 1em;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.carousel {
  width: 50%;
  margin: auto;
}

.nav-item:hover {
  border-bottom: 3px solid #43c2fa;
}
.nav-item:hover .active-nav {
  border-bottom: 0;
}

.nav-link {
  color: #b7b7b7;
  text-align: center;
}

.nav-link:hover {
  color: #707070;
}

.nav-item :active {
  color: #836969;
}

.carousel {
  display: none;
}

.carousel-inner {
  height: 40px;
}

.nav-text {
  display: block;
  margin: 5px auto;
  color: #b7b7b7;
  text-align: center;
  width: 40%;
  padding-bottom: 3px;
  border-bottom: 4px solid #43c2fa;
}

.nav-text:hover {
  text-decoration: none;
  color: #707070;
}

.active-nav {
  border-bottom: 3px solid #43c2fa;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
}

@media only screen and (max-width: 805px) {
  .slide {
    font-size: 17pt;
  }
}

@media only screen and (max-width: 710px) {
  .slide {
    font-size: 16pt;
  }
}

@media only screen and (max-width: 678px) {
  .slide {
    font-size: 15pt;
  }
}

@media only screen and (max-width: 646px) {
  .navbar {
    display: none !important;
  }
  .nav-text {
    border: 0 !important;
  }
  .slide {
    display: none;
  }
  .carousel {
    display: block;
    width: 70%;
  }
}

@media only screen and (max-width: 425px) {
  .slide {
    display: none;
  }

  .carousel {
    display: block;
    width: 70%;
  }
}
