.main {
  display: flex;
  justify-content: center;
}
.main > div.row.d-flex.justify-content-center {
  width: 100%;
}
.con-base {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: #43c2fa;
  border-radius: 20px;
}
.con-info {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0px;
}
.titleUploadProject > h1 {
  color: #43c2fa;
}
.spaceBetweenInfo {
  margin-top: 30px;
}
.uploadInfoRight {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}
.uploadInfoRight > div > p {
  margin: 0px;
}
.btn-upload-submit {
  background-color: #43c2fa;
  border-radius: 40cm;
  height: 40pt;
  color: #ffffff;
  width: 100pt;
}
.btn-upload-submit:hover {
  border: solid 1px #43c2fa;
  color: #43c2fa;
  background-color: #ffffff;
}
.btn-upload-submit > h4 {
  margin: 0;
}
#lastSubmitText {
  margin-top: 15px;
  font-size: 10px;
}
.con-modal {
  border-radius: 20px;
  box-shadow: 20px;
}
.con-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-close-form {
  display: flex;
  justify-content: flex-end !important;
}
.modal-form-info {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.modal-form-info > h2 {
  color: #43c2fa;
}
.modal-form-subject,
.modal-form-uplaod {
  margin-bottom: 20px;
}
.modal-form-subject > label,
.modal-form-uplaod > label {
  color: #43c2fa;
}
.modal-form-subject > input,
.modal-form-uplaod > input {
  border-radius: 0.75em;
  border-color: #43c2fa;
}
.btn-upload-file {
  border-color: #43c2fa;
  background-color: #43c2fa;
  border-radius: 20px;
  color: white;
}
@media only screen and (max-width: 992px) {
  .container {
    display: unset;
    margin-bottom: 20px;
  }
  .titleUploadProject {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .uploadInfoRight {
    align-items: center !important;
  }
  .modal-form-submit {
    display: flex;
    justify-content: center;
  }
}
.modal-content {
  border-radius: 2em;
  border: none;
  padding-bottom: 2em;
}
.custom-file-label {
  border: 1px solid #43c2fa;
  color: #43c2fa;
}
