#leftCircle {
  position: fixed;
  top: 35%;
  left: -40px;
}

#leftPath {
  position: fixed;
  top: 40%;
  left: -310px;
}

#leftPath2 {
  position: fixed;
  top: 72%;
  left: -90px;
}

#rightPath {
  position: fixed;
  right: -250px;
  top: 12%;
  z-index: -1;
}

#rightCircle {
  position: fixed;
  right: -20px;
  top: 60%;
  z-index: -1;
}

#rightPath2 {
  position: fixed;
  right: -150px;
  top: 70%;
  z-index: -1;
}

@media only screen and (max-width: 557px) {
  #rightPath {
    right: -280px;
  }

  #rightCircle {
    right: -30px;
  }
}

@media only screen and (max-width: 466px) {
  body {
    overflow: hidden;
  }

  #rightPath2 {
    top: 75%;
    right: -200px;
  }

  #rightCircle {
    top: 65%;
    right: -60px;
  }

  #leftPath {
    left: -350px;
  }

  #leftPath2 {
    left: -180px;
  }
}
