.mainTitle {
    font-family: 'Poppins-Medium';
    font-weight: bold;
    color: #4B4B4B;
}

.main {
    margin: 20px;
}

.table {
    margin-top: 30px;
}

.table th {
    color: #4B4B4B;
    text-transform: uppercase;
}

i {
    color: #01BDFF;
    opacity: 0.6;
    font-size: 22px;
    cursor: pointer;
}

.fa-trash-alt {
    margin-left: 20px;
}


@media only screen and (max-width: 768px) {
    .mainTitle {
        text-align: center;
    }

    .table {
        width: 100%;
    }

    th, td {
        white-space: nowrap;
    }

    .action {
        display: flex;
        width: 100px;
    }
}