@font-face {
    font-family: 'Poppins-Light';
    src: url('../../fonts/Poppins-Light.ttf');
}

body {
    font-family: Poppins-Light;
}

.navItemContainer {
    z-index: 100;
}

.rows {
    margin-top: 40px;
}

.addClassButton {
    margin-top: 50px;
}

.buttonCancel {
    color: black;
    background-color: white;
    border: none;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 30px;
    color: black;
    text-decoration: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.buttonSave {
    color: black;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    color: white;
    background-color: #43C2FA;
    font-size: 30px;
    color: black;
    text-decoration: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.buttonCancel:hover {
    text-decoration: none;
    color: black;
}

.buttonSave:hover {
    text-decoration: none;
    color: white;
}

.form-container {
    padding: 2px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    border: solid 2px;
    outline: none;
    width: 100%;
    height: 50px;
    border-color: black;
    padding-left: 15px;
}

.classContainer h5 {
    padding-left: 20px;
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .rows .row {
        display: flex;
        justify-content: center;
    }
    .rows {
        margin-top: 0;
    }
    .col-10 {
        margin-top: 20px;
    }
    .container h1 {
        padding-left: 35px;
        font-size: 30px;
    }
    .addClassButton .row {
        display: flex;
        justify-content: center;
    }
    .addClassButton {
        margin-top: 25px;
    }
    .buttonCancel {
        font-size: 25px;
    }
    .buttonSave {
        font-size: 25px;
    }
}

@media only screen and (max-width: 620px) {}

@media only screen and (max-width: 466px) {}