.mainTitle {
    font-family: 'Poppins-Medium';
    font-weight: bold;
    color: #4B4B4B;
}

.main {
    margin: 20px;
}

.academicForm {
    width: 70%;
    margin-top: 30px;
}

.inputControl {
    width: 100%;
    border: 1px solid #4B4B4B;
    border-radius: 30px;
    padding: 7px 20px;
}

.inputControl:focus{
    border: 1px solid #01BDFF;
    outline: none !important;
}

.dropdownWrapper {
    border-radius: 30px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
    border: 1px solid #4B4B4B;
    width: 100%;
    padding: 0 13px;
}

.dropdown {
    height: 38px;
    border: 0;
    outline: 0;
    background: #ffffff;
}

.dropdown:focus {
    border: none;
}

.btnWrapper {
    display: flex;
    margin-top: 20px;
}

.btnCancel {
    background: #ffffff;
    padding: 12px 40px;
    color: #000000;
    border-radius: 30px;
    border: 1px solid #000000;
}

.btnCancel:hover {
    color: black;
    text-decoration: none;
}


.btnSubmit {
    background: #01BDFF;
    color: #ffffff;
    margin-left: 40px;
    border: 1px solid #01BDFF;
    border-radius: 30px;
    padding: 8px 40px;
}

.btnCancel:focus, .btnSubmit:focus {
    outline: none !important;
}


@media only screen and (max-width: 769px) {
    .mainTitle {
        text-align: center;
    }

    .academicForm {
        margin: 20px auto;
    }

    .dropdownWrapper {
        padding: 0;
    }

    .btnWrapper {
        flex-direction: column-reverse;
    }

    .btnSubmit {
        padding:10px 40px;
        margin-left: 0;
    }

    .btnCancel {
        margin-top: 20px;
        text-align: center;
    }
}