@font-face {
    font-family: Poppins-Light;
    src: url("../fonts/Poppins-Light.ttf");
}

body {
    font-family: Poppins-Light;
}

.con_class_detail{
    padding-bottom: 15px;
}

.text_class_detail{
    color: #707070;
}

.text-splitter-number{
    margin-top: 10px;
}

.text-class-bold{
    font-weight: bolder;
}

.text-class-semi-bold{
    font-weight: bolder;
}

.text-class-normal{
    font-weight: bolder;
}

.curriculum-bar.container-fluid {
    background-color: #43C2FA;
    color: white;
    padding: 1em;
    border-radius: 1em;
    width: 75%;
    box-sizing: content-box;
    max-height: 1.5rem;
    overflow: hidden;
    transition: 2s;
}

.curriculum:first-child > .curriculum-content {
    margin-top: 0;
}

.curriculum:nth-child(2) {
    margin-top: 100%;
    transition: 1s 1.5s ease-in;
}

.curriculum:first-child::before {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 2s;
}

.curriculum::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0da";
    width: 1.5rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    font-weight: 900;
    opacity: 0;
}

.curriculum {
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    cursor: pointer;
}

.curriculum-content {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5em;
}

.curriculum-content > h5 {
    margin: 0;
}

.triangle-rotate.curriculum:first-child::before {
    transform: rotateZ(90deg);
    transform-origin: center center;
}

.curriculum:nth-child(2).gap-remover {
    margin-top: 0;
    transition: .5s;
    transition-delay: 0s;
}
.curriculum-bar.container-fluid.original-height {
    max-height: var(--curriculum-bar-height);
}

@media only screen and (max-width: 669px) {
    .curriculum-content {
        flex-direction: column;
        margin-top: 0.5em;
    }
    .curriculum-bar.container-fluid {
        max-height: calc(1.75rem * 2);
    }

    .curriculum:nth-child(2) {
        margin-top: calc(1.75rem * 2);
    }
    .curriculum-bar.container-fluid.original-height {
        max-height: calc(var(--curriculum-bar-height) * 2);
    }
}
