@font-face {
    font-family: Poppins-Light;
    src: url("../../fonts/Poppins-Light.ttf");
}

body {
    font-family: Poppins-Light;
    height: 100%;
}

.main {
    min-height: 2000px;
}

.contentClass {
    height: 350px;
    background-color: #43C2FA;
    border-radius: 30px;
}

.content {
    color: #707070;
}

.contentTittle i {
    display: none;
}

.content h1 {
    font-weight: bolder;
}

.content h2 {
    margin-bottom: 0;
    font-weight: 600;
}

.listClass {
    height: 48px;
    overflow: hidden;
}

.listMain {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.listContent {
    height: 48px;
    margin-left: 16px;
    align-items: center;
    justify-content: flex-start;
}

.listContent h2 {
    display: flex;
    align-items: center;
    height: 100%;
}

.contentContainer {
    height: 350px;
    display: flex;
    color: white;
    padding: 15px;
    padding-left: 25px;
    flex-direction: column;
    justify-content: space-evenly;
}

.contentIcon {
    display: flex;
    justify-content: space-between;
    display: none;
}

.icon {
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.contentIconBorder i {
    color: white;
}

.containerClass .row .col-10 {
    margin-top: 20px;
}

#containerRow {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.col-lg-3 {
    margin-top: 0px;
}

.not-press {
    transition: 1s;
}

.press {
    transform: rotateZ(90deg);
    transition: 1s;
}

.contentContainer h2 {
    font-weight: bolder;
}

.contentContainer h4 {
    font-size: 20px;
    font-weight: 700;
}

.contentContainer h5 {
    font-size: 16px;
    font-weight: 700;
}

.modal-dialog {
    width: 300% !important;
}

.password-modal-footer {
    padding: 1rem;
}

.password-modal-footer>h5 {
    color: #43C2FA;
    font-weight: 600;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
}

.footerContainer input {
    width: 120%;
    height: 100%;
    border-radius: 15px;
    border: none;
    border: solid 2px;
    outline: none;
    border-color: #43C2FA;
}

.buttonFooterContainer {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.modal-header {
    border-bottom: 0 none;
    display: flex;
    justify-content: center;
}

.modal-content {
    border-radius: 30px;
    padding: 15px;
}

.modal-footer {
    border-top: 0 none;
}

.buttonCancel {
    width: 75px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid black;
    text-decoration: none;
    color: #43C2FA;
}

.buttonCancel:hover {
    text-decoration: none;
    color: #43C2FA;
}

.buttonDelete:hover {
    color: white;
    text-decoration: none;
}

.buttonDelete {
    width: 75px;
    height: 30px;
    background-color: #43C2FA;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    border: 1px solid #43C2FA;
    text-decoration: none;
}

.newClass {
    display: flex;
    padding-left: 30px;
}

.newClass {
    margin-bottom: 0;
    margin-top: 20px;
}

.newClass span {
    width: 36px;
    height: 36px;
    background-color: #43C2FA;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: 800;
}

.newClass h3 {
    color: #43C2FA;
    font-weight: 700;
    margin-left: 12px;
    font-size: 30px;
    margin-bottom: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: black;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.buttons:hover {
    text-decoration: none;
    outline: none;
    color: white;
}

.press2 {
    transform: rotateZ(180deg);
    transition: 1s;
}

@media only screen and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    #containerRow {
        display: flex;
        justify-content: center;
    }
    .contentClass {
        height: 50px;
    }
    .contentTittle {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-around;
    }
    .contentTittle h2 {
        display: flex;
        align-items: center;
    }
    .rightContentTittle h4 {
        display: flex;
        align-items: center;
    }
    .contentTittle i {
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 15px;
    }
    .contentTittle h2 {
        font-size: 15px;
        margin-bottom: 0;
        width: 30%;
        display: flex;
        justify-content: center;
    }
    .contentTittle h4 {
        font-size: 15px;
        margin-bottom: 0;
    }
    .rightContentTittle {
        display: flex;
        width: 40%;
        justify-content: space-around;
    }
    .contentContainer {
        padding: 5px;
        overflow: hidden;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .contentIcon {
        display: none;
    }
    .contents {
        display: none;
    }
    .contentClass:hover {
        cursor: pointer;
    }
    .contentContainer h5 {
        display: none;
        padding-left: 12%;
    }
    .listMain i {
        font-size: 25px;
    }
    .content h1 {
        font-size: 30px;
    }
    .listClass h2 {
        font-size: 20px;
    }
    .listContent>h2 {
        margin-left: -3px;
    }
}

@media only screen and (max-width: 620px) {
    .contentContainer h5 {
        padding-left: 12%;
    }
}

@media only screen and (max-width: 466px) {
    .listClass h2 {
        font-size: 20px;
    }
    .contentTittle h4 {
        font-size: 12px;
    }
    .contentTittle h2 {
        font-size: 13px;
    }
    .newClass h3 {
        font-size: 20px;
    }
    .buttons {
        font-size: 20px;
    }
    .newClass span {
        width: 26px;
        height: 26px;
        border-radius: 30px;
    }
    .contentContainer h5 {
        padding-left: 10%;
    }
}