@font-face {
  font-family: "Poppins-Regular";
  src: url("../../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../../fonts/Poppins-Medium.ttf");
}

body {
  font-family: "Poppins-Regular";
}

.main {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  letter-spacing: 1px;
  color: #4b4b4b;
  margin-top: auto;
}

.welcome,
.welcome {
  margin: 2px auto;
}

.name {
  font-family: "Poppins-SemiBold";
  font-size: 4.5em;
  text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
  h1.name {
    font-family: "Poppins-SemiBold";
    font-size: 3rem;
    text-transform: uppercase;
  }
}

.classBar {
  display: flex;
  flex-flow: row wrap;
  padding: 17px 0 17px 0;
  background: #01bdff;
  color: white;
  border-radius: 10px;
  width: 75%;
  margin: 50px auto 0 auto;
  align-items: center;
  justify-content: space-around;
}

.barItem {
  margin: 0;
  text-align: center;
  font-family: "Poppins-Light";
}

#nextClass {
  font-family: "Poppins-SemiBold";
  font-size: 19px;
}

#material {
  font-family: "Poppins-Medium";
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  #nextClass {
    flex: 1 100%;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 557px) {
  .barItem {
    flex: 1 100%;
    margin: 10px 0;
  }

  #nextClass {
    text-align: center;
  }
}
