body {
    font-family: 'Poppins-Light';
}

.classListTag>h1 {
    color: #707070;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.classList {
    padding: 0;
    width: 100%;
}

.container {
    height: 600px;
}

.content {
    width: 100%;
    max-height: 850px;
}

.classListHeader {
    width: 100%;
    height: 74px;
    background-color: #43C2FA;
    border-radius: 25px;
    overflow: hidden;
    transition: 1s;
    margin-bottom: 20px;
    cursor: pointer;
}

#btnDown {
    height: 74px;
}

.ClassListInfoDetail {
    color: white;
}

.font-color {
    color: #43C2FA;
}

.ClassListInfo,
.ClassListInfoDetail,
.ClassListInfos {
    height: 74px;
    width: 100%;
    margin-left: 10px;
}

.ClassListInfoDetail h5 {
    padding: 20px;
}

.content-fixed {
    width: 47%;
}

.content-header {
    width: 48%;
    height: 100%;
}

.width1,
.width2,
.width3,
.widths2 {
    margin-bottom: 0;
    max-height: 100%;
    font-family: 'Poppins-Medium';
    font-size: 16px;
}

.widths1 {
    margin-bottom: 0;
    font-family: 'Poppins-SemiBold';
    width: 40%;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
}

.widths2 {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.width1 {
    width: 40%;
    text-align: center;
}

.width2 {
    width: 30%;
    text-align: center;
}

.width3 {
    width: 30%;
    text-align: center;
}

.classListStyles {
    width: 100%;
    height: 100%;
    color: white;
}

.classListStyle {
    width: 100%;
    height: 100%;
    color: white;
}

.ClassListInfo,
.ClassListInfos {
    width: 99%;
}


/* Buat upcoming */

.classListHeaders {
    width: 100%;
    height: 74px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    transition: 1s;
    margin-bottom: 20px;
    cursor: pointer;
    border: 2px solid #43C2FA;
}

.classListStyles {
    width: 100%;
    height: 100%;
    color: #43C2FA;
}


/*  */

.arrow {
    color: white;
}

.arrows {
    color: #43C2FA;
}

.not-press {
    transition: 1s;
    margin-bottom: 7px;
}

.press {
    transform: rotateZ(-90deg);
    margin-bottom: 7px;
}

.rightContent {
    height: 74px;
    background-color: #43C2FA;
    border-radius: 25px;
    padding: 0;
}

.btnReschedule {
    height: 60px;
    width: 25%;
    background-color: #43C2FA;
    border-radius: 25px;
    padding: 0;
    font-weight: 800;
    border: none;
    color: white;
}

.btnCancel {
    height: 60px;
    width: 25%;
    background-color: white;
    border-radius: 25px;
    padding: 0;
    font-weight: 800;
    border: none;
    border: 3px solid #b9b9b9;
    color: #b9b9b9;
}

.btnReschedule:focus,
.btnCancel:focus {
    outline: none;
}

.rightContentColor {
    background-color: #f8c35e;
}

.rightContent:hover {
    outline: none;
}

.icon {
    height: 74px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.icon:hover {
    text-decoration: none;
    color: white;
}

.icon:focus {
    box-shadow: none;
}

.color {
    background-color: black;
    color: black;
}

.rightContent>a:hover {
    text-decoration: none;
}

.modal-content {
    border-radius: 35px;
}

.modal-header {
    border-bottom: 0;
    display: flex;
    justify-content: center;
    color: white;
}

.modal-title {
    font-weight: bolder;
    color: #43C2FA;
}

.modal-body {
    padding-left: 5%;
}

.form-container {
    border-radius: 20px;
    border-color: #43C2FA;
    ;
}

.form-control {
    color: #43C2FA;
    font-weight: bolder;
}

.form-control option {
    color: #43C2FA;
    font-weight: bolder;
}

.form-control:focus {
    color: #43C2FA;
    font-weight: bolder;
}

.form-group {
    width: 48%;
}

.form-groups {
    display: flex;
    justify-content: space-between;
}

#shiftFont {
    height: 56px;
    display: flex;
    align-items: flex-end;
}

@media only screen and (max-width: 991px) {
    .content-fixed {
        display: flex;
        justify-content: space-around;
    }
    .icon {
        font-size: 18px;
    }
    .btnReschedule {
        width: 30% !important;
    }
    .btnCancel {
        width: 30% !important;
    }
    .width1,
    .width2,
    .width3,
    .widths2 {
        font-size: 12px;
    }
    .widths1 {
        font-size: 13px;
        display: flex;
        align-items: center;
    }
    .content-fixed {
        width: 40%;
    }
    .content-header {
        width: 53%;
    }
}

@media only screen and (max-width: 767px) {
    .classListHeader,
    .classListHeaders {
        margin-bottom: 10px;
    }
    .rightContent {
        margin-bottom: 25px;
    }
    .row {
        display: flex;
        justify-content: center;
    }
    .icon {
        font-size: 20px;
    }
    .content-header h5 {
        display: none;
    }
    .content-header {
        width: 0;
    }
    .content-fixed {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .widths1 {
        width: 40%;
        display: flex;
        align-items: center;
    }
    .widths2 {
        width: 50%;
        font-size: 12px;
    }
    .ClassListInfoDetail span {
        width: 100%;
        font-size: 25px;
    }
    .ClassListInfoDetail>span>h5 {
        font-weight: bolder;
    }
    .ClassListInfoDetail h5 {
        height: 15px;
        font-size: 20px;
    }
    .ClassListInfoDetail {
        margin-bottom: 20px;
    }
    .classListTag>h1 {
        font-size: 35px;
        margin-left: 7%;
    }
    .ClassListInfoDetail {
        height: 100px;
    }
    .ClassListInfoDetail>h5 {
        width: 33%;
    }
    .width1,
    .width2,
    .width3,
    .widths2 {
        font-size: 20px;
    }
    .widths1 {
        font-size: 25px;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 620px) {
    .ClassListInfoDetail {
        height: 100px;
    }
    .ClassListInfoDetail>h5 {
        width: 33%;
    }
    .form-group {
        width: 100%;
    }
    .form-groups {
        display: flex;
        flex-direction: column;
    }
    #shiftFont {
        height: 28px;
    }
}

@media only screen and (max-width: 466px) {
    body {
        overflow: visible !important;
    }
    .width1,
    .width2,
    .width3,
    .widths2 {
        font-size: 12px;
    }
    .widths1 {
        font-size: 16px;
    }
    .ClassListInfoDetail h5 {
        height: 35px;
        font-size: 12px;
    }
}