@font-face {
    font-family: Poppins-Light;
    src: url("../../fonts/Poppins-Light.ttf");
}
 

body {
    font-family: Poppins-Light;
  
}

.classListTag>h1 {
    color: #707070;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.classList {
    padding: 0;
    width: 100%;
}
.container{
    height: 600px;
    
}
 
.content {
    width: 100%;
    max-height: 850px;
    color: white;
}

.classListHeader {
    width: 100%;
    height: 74px;
    background-color: #43C2FA;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    transition: 1s;
    margin-bottom: 20px;
    cursor: pointer;
}


#btnDown {
    height: 74px;
}

.ClassListInfo, .ClassListInfoDetail {
    height: 74px;
    width: 100%;
}
 
.ClassListInfo h5 , .ClassListInfoDetail h5   {
    padding: 20px;  
}
.ClassListInfo, .ClassListInfoDetail {
    margin-left: 10px;
}
 



.not-press {
    transition: 1s;
    margin-bottom: 7px;
}

.press {
    transform: rotateZ(-90deg);
    margin-bottom: 7px;
}

.rightContent {
    height: 74px;
    background-color: #43C2FA;
    border-radius: 25px;
    padding: 0;
    font-size: 25px;
    font-weight: 800;
}

.rightContent>a {
    height: 74px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.rightContent>a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 991px) {
    .ClassListInfo h5,.ClassListInfoDetail>h5 {
        font-size: 15px;
    }
    .ClassListInfo h3 ,.ClassListInfoDetail h3 {
        font-size: 20px;
        font-weight: bolder;
    }
    .rightContent {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .classListHeader {
        margin-bottom: 10px;
    }
    .rightContent {
        margin-bottom: 25px;
             font-size: 20px;
        
    }
    .content-header h5{
        display: none;
    }
    .content-fixed{
        display: flex;
        justify-content:center;
        width: 100%;
    }
    
    .content-fixed h3{
        font-size: 25px;
        font-weight: bolder;
    }
    .content-fixed h5{
        font-size: 22px;
    }
    .ClassListInfoDetail span{
        width: 100%;
        font-size: 25px;
    }

    .ClassListInfoDetail>span>h5{
        font-weight: bolder;
    }

    .ClassListInfoDetail h5{
        height: 35px;
        font-size: 20px;;
    }
    
    
    .ClassListInfoDetail{
        margin-bottom: 20px;
    }
    
    
}

@media only screen and (max-width: 620px){
    
    .ClassListInfoDetail{
        height: 100px;
    }
    .ClassListInfoDetail >h5 {
        width: 33%;
    }
  

}

@media only screen and (max-width: 466px) {
    body {
      overflow: visible !important;
    }
  }
/*
style
 .rightContent{
    height: 74px;
    background-color:  #707070;
    background-color: #F8C35E;
   
    border-radius: 25px;padding: 0;
    font-size: 20px;
    font-weight: 800;
}

.classListHeader{
    width: 100%;
    height: 74px;
    background-color:white;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    transition: 1s;
    margin-bottom: 20px;
     border: 1px solid black;
} 
 .content {
     
    width: 100%;
    max-height: 500px;
    color: black;
} */